In [138]:
import numpy as np
from sklearn.linear_model import LogisticRegression

In [139]:
import pandas as pd
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
#y_train = train_df["Survived"]
#train_df.shape,train_df.isnull().sum()
#del train_df["Survived"]
#train_df

In [140]:
train_df.drop('Cabin',axis = 1, inplace = True)
train_df.drop(['Name','Ticket'], axis =1, inplace = True)

In [141]:
def sex(s):
    if s=="male":
        return 0
    else:
        return 1

def embarked(s):
    if s=="C":
        return 2
    elif s=="S":
        return 0
    else:
        return 1

def meanagemale(age,sex):
    count =0
    for i in range(0,len(sex)):
        if sex[i]==0:
            count+=1
    sum = 0
    for i in range(0,len(age)):
        if sex[i]==0:
            sum+=age[i]
    return sum/count

def meanagefemale(age,sex):
    count =0
    for i in range(0,len(sex)):
        if sex[i]==1:
            count+=1
    sum = 0
    for i in range(0,len(age)):
        if sex[i]==1:
            sum+=age[i]
    return sum/count

train_df.Age.fillna(0, inplace=True)
train_df["Sex"] = train_df.Sex.apply(sex)
train_df["Embarked"] = train_df.Embarked.apply(embarked)
train_age_male = meanagemale(train_df['Age'],train_df['Sex'])
train_age_female = meanagefemale(train_df['Age'],train_df['Sex'])



train_df.loc[(train_df.Sex==0) & (train_df.Age==0),"Age"] = train_age_male
train_df.loc[(train_df.Sex==1) & (train_df.Age==0),"Age"] = train_age_female

clf = LogisticRegression()
clf.fit(train_df.drop('Survived', axis = 1),train_df['Survived'])
train_age_male,train_age_female,train_df

(24.115339578454332,
 23.32883817427386,
      Pclass  Sex        Age  SibSp  Parch      Fare  Embarked  Survived
 0         2    1  29.000000      1      0   26.0000         0         1
 1         3    0  24.115340      0      0    8.0500         0         0
 2         2    0  39.000000      0      0   26.0000         0         0
 3         3    1  29.000000      0      4   21.0750         0         0
 4         3    0  25.000000      0      0    7.0500         0         0
 5         3    0  34.500000      0      0    6.4375         2         0
 6         1    1  35.000000      1      0   53.1000         0         1
 7         3    0  23.000000      0      0    7.8958         0         0
 8         2    0  24.115340      0      0   13.0000         0         1
 9         3    0  50.000000      0      0    8.0500         0         0
 10        3    1  23.000000      0      0    7.5500         0         1
 11        3    0  24.115340      0      0    7.2292         2         0
 12        2    0  36.000000      0      0   13.0000         0         0
 13        3    0  24.115340      1      0   15.5000         1         0
 14        3    1  23.328838      0      0    7.7500         1         1
 15        3    0  28.000000      2      0    7.9250         0         0
 16        3    0  32.000000      0      0    7.8542         0         1
 17        3    0  42.000000      0      0    7.5500         0         0
 18        1    0  38.000000      0      1  153.4625         0         0
 19        3    1  23.328838      0      0    7.7500         1         1
 20        1    0  38.000000      0      0    0.0000         0         0
 21        3    1  23.328838      0      2   15.2458         2         0
 22        2    1  40.000000      0      0   15.7500         0         1
 23        3    0  24.500000      0      0    8.0500         0         0
 24        3    1  23.328838      0      0    7.2250         2         1
 25        3    1  23.328838      8      2   69.5500         0         0
 26        1    0  39.000000      0      0    0.0000         0         0
 27        1    0  22.000000      0      0  135.6333         2         0
 28        3    0  16.000000      0      0    7.7750         0         0
 29        2    0  30.000000      0      0   13.0000         0         0
 ..      ...  ...        ...    ...    ...       ...       ...       ...
 638       3    0  24.000000      2      0   24.1500         0         0
 639       2    1  22.000000      1      2   41.5792         2         1
 640       3    1  23.328838      3      1   25.4667         0         0
 641       3    0  32.000000      0      0    7.9250         0         1
 642       1    0  42.000000      0      0   26.2875         0         1
 643       3    0  17.000000      0      0    7.1250         0         0
 644       1    0  24.115340      0      0   25.9250         0         0
 645       2    0   0.830000      1      1   18.7500         0         1
 646       3    1   9.000000      2      2   34.3750         0         0
 647       1    0  58.000000      0      0   29.7000         2         0
 648       2    0  28.000000      0      1   33.0000         0         0
 649       3    0  26.000000      0      0    8.0500         0         0
 650       3    0  47.000000      0      0    9.0000         0         0
 651       3    0  24.115340      1      0   16.1000         0         0
 652       2    1  33.000000      1      2   27.7500         0         1
 653       3    1  47.000000      1      0   14.5000         0         0
 654       3    0  24.115340      0      0    7.8958         0         0
 655       1    0  42.000000      1      0   52.5542         0         1
 656       3    0  36.000000      0      0    7.8958         0         0
 657       3    0  38.000000      0      0    8.6625         0         0
 658       3    1  38.000000      1      5   31.3875         0         1
 659       3    0  24.115340      0      0    7.8292         1         0
 660       2    0   1.000000      2      1   39.0000         0         1
 661       1    1  23.328838      1      0   82.1708         2         1
 662       1    0  47.000000      0      0   34.0208         0         0
 663       2    1  17.000000      0      0   10.5000         0         1
 664       3    0  24.115340      0      0    7.7500         1         0
 665       3    0  32.000000      0      0   56.4958         0         1
 666       3    1  22.000000      0      0    9.8375         0         0
 667       3    1  23.328838      1      0   15.5000         1         1

 [668 rows x 8 columns])

In [142]:
test_df.drop('Cabin',axis = 1, inplace = True)
test_df.drop(['Name','Ticket'], axis =1, inplace = True)
test_df.Age.fillna(0, inplace=True)

In [143]:
test_df["Sex"] = test_df.Sex.apply(sex)
test_df["Embarked"] = test_df.Embarked.apply(embarked)

test_age_male = meanagemale(test_df['Age'],test_df['Sex'])
test_age_female = meanagefemale(test_df['Age'],test_df['Sex'])


test_df.loc[(test_df.Sex==0)& (test_df.Age==0),"Age"] = test_age_male
test_df.loc[(test_df.Sex==1)& (test_df.Age==0),"Age"] = test_age_female


output = clf.predict(test_df)

In [144]:
np.savetxt("output.csv", output)

In [11]:
#print(output)

In [13]:
#clf.score()